.header {
  margin: 45px auto 40px;
  width: 100%;
  max-width: 880px;
  height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__logo {
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 900px) {
  .header {
    margin: 45px auto 40px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 450px) {
  .header {
    margin: 28px auto 42px;
    width: 320px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .header__logo {
    width: 126px;
    height: 24px;
  }
}
