.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease;
}
.popup_show {
  visibility: visible;
  opacity: 1;
}
.popup__overlay {
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.popup__content {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 100%;
  max-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 37px 36.51px 35px;
  box-sizing: border-box;
}
.popup__content_img {
  background-color: transparent;
  max-width: none;
  width: auto;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.popup__img {
  width: auto;
  max-height: 540px;
  object-fit: contain;
}
.popup__close {
  position: relative;
  left: 229px;
  cursor: pointer;
  font-size: 40px;
  z-index: 2;
}
.popup__close_img {
  align-self: flex-end;
  position: static;
  cursor: pointer;
  font-size: 40px;
  z-index: 2;
}

.popup__close:hover {
  opacity: 60%;
}
.popup__title {
  color: black;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 54px;
  width: 100%;
  overflow: hidden;
}
.popup__title_img {
  color: white;
  margin: 0;
  padding: 10px 0;
}

.popup__form {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.popup__input-form_job {
  margin-bottom: 0;
}
.popup__input-form_imgUrl {
  margin-bottom: 0;
}
.popup__save {
  width: 100%;
  height: 50.15px;
  font-family: Inter;
  text-align: center;
  border: 1px solid #c4c4c4;
  background-color: black;
  color: white;
  padding: 0;
  margin-top: 48px;
}
.popup__save:hover {
  opacity: 80%;
}
.popup__save_inactive {
  cursor: not-allowed;
  background-color: white;
  color: #c4c4c4;
}
.popup__save_new-margin {
  margin-top: 24px;
}
.form__input-error {
  display: none;
}
.form__input_type_error {
  border-bottom-color: #ff0000;
  margin-bottom: 6px;
}

.form__input-error_active {
  text-align: left;
  display: block;
  width: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ff0000;
  display: inline-block;
  margin-bottom: 9px;
}

.popup_delete-card .popup__content {
  padding: 34px 36px 36px;
  min-height: 0;
}
.popup_delete-card .popup__title {
  margin-bottom: 38px;
  line-height: normal;
}
.popup_delete-card .popup__save {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .popup__content {
    width: 100%;
    margin: 10px 10px;
  }
  .popup__content_img {
    width: auto;
    max-width: 100%;
    padding: 10px;
  }

  .popup__content_img .popup__img {
    max-width: 100%;
    max-height: 400px;
  }
}

@media screen and (max-width: 450px) {
  .popup__content {
    width: 100%;
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px;
    box-sizing: border-box;
  }
  .popup__close {
    position: relative;
    left: 128px;
    cursor: pointer;
    font-size: 26px;
    z-index: 2;
  }
  .popup__title {
    font-size: 18px;
    margin-bottom: 76px;
  }
  .popup__form {
    font-size: 14px;
  }
  .popup__save {
    height: 46px;
    font-size: 14px;
  }
  .popup__content_img {
    width: auto;
    max-width: 100%;
    padding: 10;
  }
  .popup__close_img {
    align-self: flex-end;
    position: static;
    cursor: pointer;
    font-size: 30px;
    z-index: 2;
  }
}
